name: build-and-release

"on":
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize

permissions:
  contents: write
  issues: write
  packages: write
  pull-requests: write

jobs:
  made-with-tpgha:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4
    
      - name: Setting up NodeJs
        id: setup-node-js
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
      
      - name: steal
        run: npm lint
        shell: bash